@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
h1{
  display: flex;
  padding: 2% 6%;
  justify-cintent: space-between;
  align-items: center;
  flex: 1;
  text-align: left;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  color: green;
  text-decoration: none;
  font-size: 50px;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li a::after{
  content: "";
  width: 100%;
  height: 2px;
  background: green;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
/*----- End Header Links -----*/

/* Body Styling */
body {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Container Styling */
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0px;
    background-color: #1E1E1E;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
h2{
  font-size: 35px;
}
.container p, h2,h3{
    background-color: #1E1E1E;
}


/* Image Styling */
img {
    max-width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
}

/* Tour Dates Section */
.tour-dates {
    margin-top: 20px;
  background-color: #1E1E1E;
}

.date {
    background-color: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.ticket-link {
    color: green;
    text-decoration: none;
    font-weight: bold;
    background-color: #333;
    color: green;
    text-decoration: none;
}

.ticket-link:hover {
    text-decoration: underline;
}
#p{
  color: green;
  text-decoration: none;
  font-size: 50px;
}
/*-----Footer-----*/
.footer{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: black;
  color: #fff;
}